@model Crud.Views.Revistas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Revistas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_barras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_barras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Publicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Publicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorias_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Actualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Actualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
